:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mainClass {
  display: flex;
  justify-content: space-between;
  width: 94%;
}
.mainClass mat-icon {
  margin-top: 17px;
  cursor: pointer;
}
